.modal-content{
  // border: 1px solid #fff !important;
  padding: 20px 10px;
background-color: #0f0f0f !important;
  .modal_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 1rem;
  b {
    color: #ff8012;
    font-size: 1.2rem;
  }
  i {
    color: #002449;
    font-size: 22px;
    font-weight: normal;
    cursor: pointer;
  }
  .close-btn{
    width: 20px;
  }
}

}