.modal-content{
  // border: 1px solid #fff !important;
  padding: 20px 10px;
background-color: #0f0f0f !important;
  .modal_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 1rem;
  b {
    color: #ff8012;
    font-size: 1.2rem;
  }
  i {
    color: #002449;
    font-size: 22px;
    font-weight: normal;
    cursor: pointer;
  }
  .close-btn{
    width: 20px;
  }
}

}

.one {
  transform:scaleY(.01) scaleX(0);
  animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  .modal-background {
    .modal {
      transform:scale(0);
      animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
}
.out {
  transform:scale(1) !important;
  animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards !important;
  .modal-background {
    .modal {
      animation: zoomOut 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards !important;
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}