.App {
  text-align: center;
  width: 100%;
  /* background-color: #191919; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff8012;
  /* background-color: #191919; */
  @media (max-width: 978px) {
    // height: 620px;
    height: 100%;
  }

  .app-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 90%;
    margin: 20px;
    border: 1px solid #ff8012;
    /* border: 1px solid #d5a46b; */
    border-radius: 5px;
    position: relative;

    .jasper-video {
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 120px !important;
      height: 120px !important;
      @media (max-width: 978px) {
        width: 90px !important;
        height: 90px !important;
      }
    }

    .header{
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .twitter-id{
        width: 110px;
      }
      .logo-container {
        z-index: 100;
        .shylock-logo {
          margin: 20px 0 0 0;
          height: 12vmin;
          pointer-events: none;
        }
      }
      .metakey{
        width: 120px;
        font-size: 1rem;
      }
    }
    
    .internal-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .upper-portion-1 {
        width: 80%;
        margin-top: 10px;
        z-index: 100;
        height: 50%;
      }
      .upper-portion-2 {
        width: 80%;
        min-height: 30%;
        .riddle-container {
          text-align: left;
          // .riddle-heading {
          //   text-decoration: underline;
          // }
        }
      }
      .bottom-portion-1 {
        width: 95%;
        height: 50%;
        // display: grid;
        // grid-template-columns: 200px 1fr 200px;
        // grid-gap: 10px;
        color: #fff;

        .analog-clock {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .days-box-container {
          // width: 50%;
          border: 1px solid #fff;
          border-radius: 5px;

          .days-container {
            padding: 0 20px;
            // height: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-gap: 5px;
            @media (max-width: 978px) {
              padding: 0;
            }
            .days-box {
              // width: 50px;
              height: 50px;
              margin: 5px 10px;
              border: 1px solid #fff;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              .locked-image {
                width: 35px;
                height: 35px;
                position: absolute;
                right: -15px;
                bottom: -10px;
              }
            }
            .unlocked-day {
              cursor: pointer;
              border: 1px solid #fff;
              color: #fff;
            }
            .locked-day {
              border: 1px solid #ff8012;
              color: #ff8012;
            }
          }
        }
        .time-box-container {
          z-index: 100;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          // border: 1px solid #fff;
        }
      }

      .bottom-portion-2 {
        height: 60%;
        width: 80%;
        margin: 10px 0;
        // display: grid;
        // grid-template-columns: 1fr 1fr;

        .form-box {
          min-height: 250px;
          text-align: left;
          border: 1px solid #fff;
          padding: 0 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          .form-group {
            label {
              font-size: 1rem;
              @media (max-width: 978px) {
                margin: 0 !important;
              }
            }
            .input-field {
              @media (max-width: 978px) {
                margin-top: 0 !important;
              }
            }
            .info-button{
              cursor: pointer;
              width: 25px;
              height: 25px;
              margin-top: 1rem;
              margin-left: 8px;
            }
          }
          .submit-btn {
            align-self: center;
          }
        }
        .rules-box {
          padding: 0 30px;
          border: 1px solid #fff;
          // .rules-heading{
          //   text-decoration: underline;
          // }
          @media (max-width: 978px) {
            padding: 0 !important;
          }
          .rules {
            text-align: left;
            font-size: 0.92rem;
            ul {
              margin: 5px 0;
              li {
                list-style-type: decimal;
              }
              p {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.Typewriter__wrapper {
  font-size: 1rem;
}

.intent-tweet,
.initiate-btn {
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  padding: 5px 12px;
  color: #ff8012;
  outline: none;
  border: 1px solid #ff8012;
  border-radius: 3px;
  background-color: transparent;
}
.initiate-btn {
  @media (max-width: 978px) {
    margin: 178px 0;
  } 

  @media (max-width: 420px) {
    margin: 80% 0;
  }
}
.intent-tweet-link {
  animation-delay: 6s;
  .intent-tweet a {
    text-decoration: none;
    color: #ff8012;
  }
}

// footer
.footer {
  padding: 20px 10px;
  display: flex;
  justify-content: center;

  .twitter-btn {
    z-index: 100;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    /* animation-delay: 6s; */
    .twitter-logo {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 10px;
      top: 12px;
    }
  }
}

// modal
.modal-dialog{
  justify-content: center !important;
}
.modal-content{
  width: 92% !important;
}
.login-box {
  width: 100%;
  display: flex;
  color: #ff8012;
  .metamask-box,
  .twitter-box {
    cursor: pointer;
    width: 100%;
    background-color: #000;
    border: 1px solid #ff8012;
    border-radius: 5px;
    margin: 5px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: 420px) {
      height: 90px;
    }
    .tick-icon{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
    }
  }
}

.qr-code-container{
  .qr-code-image{
    width: 200px;
    height: 200px;
  }
}