
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* @import url('./fonts/SherlockVintage.woff'); */

@font-face {
  font-family: sherlockVintage;
  src: url('./fonts/SherlockVintage.woff');
}

body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000 !important;
  /* background: #1f0b00;
  background: -webkit-linear-gradient(0deg, #1f0b00 0%, #000000 100%);
  background: linear-gradient(0deg, #1f0b00 0%, #000000 100%); */
}

// .d-none{
//   display: none;
// }

.input-field{
  // width: 280px;
  width: 100%;
  color: #ff8012 !important;
  background-color: #000000 !important;
  outline: none;
  padding: 10px 10px;
  font-size: 1rem;
  border: 1px solid #ff8012 !important;
  &::placeholder{
    color: #ff811285;
  }
}

.orange-text{
  color: #ff8012;
}
.submit-btn{
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  background-color: #000000;
  outline: none;
  padding: 5px 15px;
  margin: 10px 0;
  font-size: 1rem;
  color: #ff8012;
  border: 1px solid #ff8012;
  &:hover{
    background-color: #ff8012;
    color: #000000;
  }
}

.link{
  text-decoration: none;
  color: #fff;
  &:hover{
    color: #fff;
  }
}

.enter-btn{
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  padding: 5px 12px;
  color: #ff8012;
  outline: none;
  border: 1px solid #ff8012;
  border-radius: 3px;
  background-color: #000;
}

.cursor-pointer{
  cursor: pointer;
}

.border-green{
  border: 1px solid #377037 !important;
}

.back-arrow{
  cursor: pointer;
  width: fit-content;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid #ff8012;
}